@media(max-width:1160px){
    .container-links{
        margin: 100px 200px;
    }
}

@media(max-width:765px){
    .container-links{
        margin: 50px 100px;
    }
}

@media(max-width:515px){
    .container-links{
        margin: 25px 50px;
    }
}

@media(max-width:320px){
    .container-links{
        margin: 50px 25px 20px 25px;
    }
}