*{
    text-decoration: none;
    font-style: normal;
}

body{
    background-color: hsl(0, 0%, 8%);
}

.container-links{
    margin: 100px 450px 100px 450px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding-bottom: 2px;
}

.container-links .apresentacao .nome{
    padding-top: 200px;
    color: whitesmoke;
    font-family: "Inter";
    font-size: clamp(20px, 12.8px + 1vw, 48px);
    text-align: center;
}

.container-links .apresentacao .localizacao{
    font-family: "Inter";
    text-align: center;
    font-size: clamp(16px, 6.4px + 1vw, 48px);
    color: greenyellow;
}

.container-links .apresentacao .descricao{
    padding-bottom: 10px;
    color: whitesmoke;
    font-family: "Inter";
    text-align: center;
    font-weight: 400;
}

.container-links .links .github{
    margin: 10px 50px 10px 50px;
}

.container-links .links p .botaogit{
    display: block;
    text-align: center;
    padding: 15px;
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 500;
}

.container-links .links p .botaogit:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.3s;
}

.container-links .links .linkedin{
    margin: 10px 50px 10px 50px;
}

.container-links .links p .botaolinkedin{
    display: block;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 500;
}

.container-links .links p .botaolinkedin:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.3s;
}

.container-links .links .whatsapp{
    margin: 10px 50px 10px 50px;
}

.container-links .links p .botaozap{
    display: block;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 500;
}

.container-links .links p .botaozap:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.3s;
}

.container-links .links .instagram{
    margin: 10px 50px 10px 50px;
}

.container-links .links p .botaoinstagram{
    display: block;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 500;
}

.container-links .links p .botaoinstagram:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.3s;
}